[submodule "FusionFilter"]
	path = FusionFilter
	url = https://github.com/FusionFilter/FusionFilter.git
[submodule "GMAP-fusion.wiki"]
	path = GMAP-fusion.wiki
	url = https://github.com/GMAP-fusion/GMAP-fusion.wiki.git
[submodule "DISCASM"]
	path = DISCASM
	url = https://github.com/DISCASM/DISCASM.git
